body {
  margin: 0;
}
header {
  display: flex;
  flex-direction: column;
}
ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 66px;
}
li {
  color: white;
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
.headerTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 111px;
}
.headerLeft {
  margin-left: 310px;
  margin-top: 14px;
  margin-bottom: 27px;
}
.headerLeft img {
  height: 70px;
  width: 342px;
}
.headerCenter {
  /* margin-top: 46px; */
  /* margin-bottom: 41px; */
  margin-left: 187px;
}
.headerRight {
  display: flex;
  flex-direction: row;
  /* margin-top: 46px; */
  /* margin-bottom: 41px; */
  margin-left: 304px;
  gap: 20px;
}
.headerRight p {
  color: white;
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}
.headerRight input {
  margin-top: 11px;
}
.headerBottom {
  width: 100%;
  height: 620px;
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.headerBottomLeft {
  margin-left: 323px;
  margin-top: 212px;
  margin-bottom: 214px;
}
.headerBottomLeft h1 {
  font-family: Inter;
  font-weight: 900;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0%;
  color: white;
}
.headerBottomRight {
  width: 100%;
  height: 620px;
  top: 111px;
  background-image: linear-gradient(to right, #000, transparent),
    url("/assets/headerimg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel {
  display: flex;
  flex-direction: row;
  background-color: #1d1d1d;
  height: 706px;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.arrow {
  width: 20px;
  height: 40px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 358px;
  height: 500px;
  background-color: white;
}
.rating {
  /* position: relative; */
  position: absolute;
  background-color: #3bb33b;
  margin-left: 13.56px;
  margin-top: 13.56px;

  width: 53.69485855102539px;
  height: 31.50845718383789px;
  /* top: 13.56px; */
  /* left: 13.56px; */
  border-radius: 2.71px;
  padding-top: 3.25px;
  padding-right: 10.85px;
  padding-bottom: 3.25px;
  padding-left: 10.85px;
  gap: 5.42px;
  text-align: center;
}
.rating p {
  font-family: Inter;
  font-weight: 700;
  font-size: 20.5px;
  line-height: 0px;
  letter-spacing: 0%;
  color: #ffffff;
}
.poster {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #000, transparent);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.posterImage {
  width: 100%;
  height: 100%;
}
.title {
  align-items: center;
  justify-content: center;
  width: 358px;
  height: 222px;
  background-color: black;
}
.title p {
  color: white;
  font-family: Inter;
  font-weight: 600;
  font-size: 29.52px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 18.6px;
  margin-bottom: 55px;
}
.search {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 620px;
  background-image: linear-gradient(
      95.73deg,
      rgba(129, 0, 255, 0.5),
      rgba(255, 92, 0, 0.5)
    ),
    url("/assets/headerimg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.searchBar {
  display: flex;
  flex-direction: row;
  width: 1492px;
  height: 100px;
  border-radius: 100px;
  background: #ffffff;
  box-shadow: 0px 0px 50px 0px #00000033;
  margin-top: 254px;
  /* justify-content: center; */
  align-items: center;
}
.searchBarIcon {
  width: 32px;
  height: 32px;
  opacity: 0.3;
  margin-left: 44px;
}
.input {
  margin-left: 33px;
  width: 1150px;
  height: 60px;
  border: 0;
  outline: none;
  color: #bdbecb;
  cursor: text;
  z-index: 0;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
}
.button {
  display: flex;
  width: 204px;
  height: 79px;
  border-radius: 100px;
  padding-top: 25px;
  padding-right: 65px;
  padding-bottom: 25px;
  padding-left: 65px;
  gap: 10px;
  background: #020202;
  color: white;
  font-family: Inter;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
.theme-checkbox {
  --toggle-size: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #efefef),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #efefef),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}
