body {
  margin: 0;
  /* width: 100%; */
}

/* Header */
header {
  display: flex;
  flex-direction: column;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 3.43vw;
}
a {
  text-decoration: none;
  color: white;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.04vw;
  line-height: 100%;
}
.burger-checkbox {
  position: absolute;
  visibility: hidden;
}
.headerTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  width: 100%;
  height: 5.78vw;
  justify-content: space-between;
}

.headerLeft img {
  display: flex;
  margin-left: 16.14vw;
  height: auto;
  width: 17.81vw;
}

.headerCenter {
  margin-left: 9.73vw;
  flex-direction: row;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list {
  display: flex;
  flex-direction: row;
  gap: 1.04vw;
  align-items: center;
}
.listTheme {
  display: flex;
  flex-direction: row;
  gap: 1.04vw;
  align-items: center;
}
.listTheme p {
  margin-left: 15.83vw;
  color: white;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.04vw;
}
/* Header Bottom */
.headerBottom {
  width: 100%;
  height: 32.29vw;
  background-color: black;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
}
.headerArrow {
  position: absolute;
  visibility: hidden;
}
.headerArrow img {
  rotate: -90deg;
  width: 1.14vw;
  height: 2.7vw;
}

.headerBottomLeft {
  width: 30%;
  /* padding: 11.04vw 0px 11.14vw 0px; */
  margin-left: 16.82vw;
}

.headerBottomLeft h1 {
  font-family: Inter;
  font-weight: 900;
  font-size: 4.16vw;
  line-height: 100%;
  color: white;
}

.headerBottomRight {
  flex-grow: 1;
  height: 32.29vw;
  background-image: linear-gradient(to right, #000, transparent),
    url("/assets/headerimg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Carousel */
.carousel {
  display: flex;
  flex-direction: row;
  background-color: #1d1d1d;
  height: 36.77vw;
  gap: 5.2vw;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.arrow {
  width: 1.04vw;
  height: 2.08vw;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 18.64vw;
  height: 26.56vw;
  background-color: white;
}

.rating {
  position: absolute;
  background-color: #3bb33b;
  margin: 0.72vw;
  width: 2.81vw;
  height: 1.66vw;
  border-radius: 0.15vw;
  padding: 0.15vw 0.57vw;
  text-align: center;
  z-index: 1;
}

.rating p {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.04vw;
  color: #ffffff;
  margin: 0;
}

.poster {
  height: 100%;
  width: 100%;
  position: relative;
}
.poster::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-image: linear-gradient(to top, #000, transparent);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}
.posterImage {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.title {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 18.64vw;
  height: 11.56vw;
  background-color: black;
}

.title p {
  color: white;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.56vw;
  margin-left: 0.98vw;
  /* margin-bottom: 55px; */
}

/* Search Section */
.search {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 32.29vw;
  background-image: linear-gradient(
      95.73deg,
      rgba(129, 0, 255, 0.5),
      rgba(255, 92, 0, 0.5)
    ),
    url("/assets/headerimg.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.searchBar {
  display: flex;
  flex-direction: row;
  width: 77.7vw;
  height: 5.2vw;
  border-radius: 5.2vw;
  background: #ffffff;
  box-shadow: 0px 0px 2.6vw 0px #00000033;
  margin-top: 13.22vw;
  align-items: center;
}

.searchBarIcon {
  width: 1.66vw;
  height: 1.66vw;
  opacity: 0.3;
  margin-left: 2.29vw;
}

.input {
  margin-left: 1.66vw;
  width: 59.89vw;
  height: 3.125vw;
  border: 0;
  outline: none;
  color: #bdbecb;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25vw;
}

.button {
  display: flex;
  width: 10.62vw;
  height: 4.11vw;
  border-radius: 5.2vw;
  padding: 1.3vw 3.38vw;
  background: #020202;
  color: white;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25vw;
  text-align: center;
  cursor: pointer;
}

/* Under Section */
.under {
  height: 32.29vw;
  background: url("/assets/under.png") no-repeat 0 60%;
  background-size: cover;
}

.underOverlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.underOverlay h1 {
  margin: 7.86vw 0px 0px 16.82vw;
  width: 36.4vw;
  font-family: Inter;
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 135%;
  color: white;
}

.underOverlay p {
  margin: 1.51vw 0px 0px 16.82vw;
  width: 47.91vw;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 135%;
  color: white;
}

/* Footer */
.footer {
  height: 11.04vw;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footerLeft {
  color: white;
  font-family: Inter;
  font-weight: 700;
  font-size: 1.35vw;
}

.footerRight {
  display: flex;
  flex-direction: row;
  gap: 1.04vw;
}

.svgWrapper {
  height: 1.4vw;
  width: 1.25vw;
}
.theme-checkbox {
  --toggle-size: 0.52vw;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #efefef),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #efefef),
      color-stop(50%, #2a2a2a)
    )
    no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

/* --- MEDIA ЗАПРОСЫ --- */
/* Для планшетов и смартфонов (до 768px) */
@media (max-width: 720px) {
  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 22px;
    height: 13px;
  }
  .burger::before,
  .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #fff;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 5px 0 #fff;
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 5px;
    transform: rotate(45deg);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 5px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 2.6vw;
    padding: 5.2vw 0;
    /* height: 100%; */
    margin: 0;
    background: black;
    list-style-type: none;
    transform: translateX(-100%);
    transition: 0.3s;
    width: 100%;
  }
  .menu-item {
    display: block;
    padding: 0.41vw;
    color: white;
    text-align: center;
    text-decoration: none;
    /* margin-top: 90px; */
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .menu-item:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }
  .headerTop {
    display: flex;
    flex-direction: row;
    height: 65px;
    width: 100%;
  }
  .headerLeft {
    display: flex;
    width: 70%;
    height: 100%;
    margin-bottom: 13px;
    margin-left: 30px;
    margin-top: 7px;
    /* justify-content: center; */
    align-items: center;
  }
  .headerLeft img {
    /* justify-content: center; */
    width: 217px;
    height: 45px;

    margin: 0;
  }
  .headerCenter {
    display: flex;
    margin-left: 6.35vw;
  }

  .list {
    margin-top: 30px;
    margin-left: 3.125vw;
    padding: 0;
    /* height: 50px; */
  }
  .listTheme {
    margin: 0;
    /* margin-right: 90px; */
    /* padding-bottom: 20px; */
    margin-top: 10vw;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .listTheme p {
    margin: 0;
    font-family: Inter;
    font-weight: 600;
    font-size: 14.65px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
  }
  .theme-checkbox {
    --toggle-size: 0.9vw;
  }
  .headerBottom {
    display: flex;
    flex-direction: column-reverse;
    height: 550px;
    width: 100%;
    align-items: normal;
  }
  .headerArrow {
    visibility: visible;
    position: static;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    z-index: 1;
  }
  .headerArrow img {
    width: 11px;
    height: 26px;
  }
  .headerBottomLeft {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    /* height: 9.16vw; */
    text-align: center;
    margin: 0;
    margin-bottom: 72px;
    /* background-image: linear-gradient(transparent, black); */
  }
  .headerBottomLeft h1 {
    text-align: center;
    margin: 0;
    /* width: 26.97vw; */
    width: 100%;
    font-family: Inter;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    /* letter-spacing: 0%; */
  }
  .headerBottomRight {
    height: 100%;
    background-image: linear-gradient(to top, #000, transparent),
      url("/assets/headerimg.png");
  }
  .carousel {
    position: relative;
    /* width: 100%; */
    height: 534px;
    width: 100%;
    /* margin: 0 auto; */
    overflow: hidden;
  }
  .card {
    position: absolute;
    flex: 0 0 100%;
    width: 263.197509765625px;
    height: 367.5942687988281px;
  }
  .title {
    width: 100%;

    height: 100px;
  }
  .title p {
    font-family: Inter;
    font-weight: 600;
    font-size: 21.7px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .rating {
    width: 36.94981384277344px;
    height: 22.784942626953125px;
    top: 9.97px;
    left: 9.97px;
    border-radius: 1.99px;
    padding-top: 2.39px;
    padding-right: 7.97px;
    padding-bottom: 2.39px;
    padding-left: 7.97px;
    gap: 3.99px;
  }
  .rating p {
    font-family: Inter;
    font-weight: 700;
    font-size: 15.07px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .search {
    width: 100%;
    height: 303px;
    /* justify-content: center; */
    align-items: center;
  }
  .searchBar {
    width: 80vw;
    height: 50.6708984375px;

    margin: 0;
    /* justify-content: space-between; */
  }
  .searchBarIcon {
    width: 16px;
    height: 16px;
  }
  .input {
    /* width: 100%; */
    font-family: Inter;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
  }
  .button {
    /* margin-left: 3.125vw; */

    gap: 5.05px;
  }
  .under {
    height: 584px;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
  }
  .underOverlay h1 {
    /* margin-top: 88px; */
    margin: 0;
    margin-left: 3.125vw;
    margin-right: 10.41vw;
    width: 90%;
    font-family: Inter;
    font-weight: 600;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0%;
  }
  .underOverlay p {
    margin: 0;
    margin-top: 20px;
    margin-left: 3.125vw;
    margin-right: 4.16vw;
    width: 90%;

    font-family: Inter;
    font-weight: 500;
    font-size: 18px;
    line-height: 135%;
    letter-spacing: 0%;
  }
  .footer {
    width: 100%;
    height: 186px;
    flex-direction: column-reverse;
    align-items: normal;
  }
  .footerLeft {
    margin-left: 5.2vw;
    font-family: Inter;
font-weight: 600;
font-size: 18px;
line-height: 125%;
letter-spacing: 0%;

  }
  .footerRight {
    margin-left: 5.2vw;
    /* margin-bottom: 116px; */
    /* margin-top: 108px; */
  }
  .svgWrapper {
    height: 20px;
    width: 20px;
  }
}
