.single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  display: flex;
  margin-bottom: 4.32vw;
}

.single.dark {
  background-color: #1d1d1d;
}

.single.light {
  background-color: white;
}

.trailer {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.32vw;
}

.gallery {
  margin-bottom: 4.32vw;
}

.reviews {
  margin-bottom: 4.32vw;
}

@media (max-width: 768px) {
  .single {
    align-items: normal;
  }

  .trailer {
    margin-bottom: 30vw;
  }

  .gallery {
    margin-bottom: 30vw;
  }

  .reviews {
    margin-bottom: 30vw;
  }

  .galleryPic {
    margin-left: 8.05vw;
    overflow-x: hidden;
  }
  
  .galleryImg {
    width: 80vw;
    height: 50vw;
  }
}