.main {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main.dark {
  background-color: #1d1d1d;
}

.main.light {
  background-color: white;
}

.poster {
  margin-top: 7.23vw;
  margin-right: 6.61vw;
  margin-left: 15vw;
}

.bigCard {
  display: flex;
  flex-direction: row;
}

.description {
  margin-top: 7.23vw;
  display: flex;
  flex-direction: column;
}

.description h1 {
  margin: 0;
  font-family: Inter;
  font-weight: 600;
  font-size: 3.33vw;
  line-height: 135%;
  letter-spacing: 0%;
  width: 50%;
}

.description.dark h1 {
  color: white;
}

.description.light h1 {
  color: black;
}

.description.dark h2 {
  color: white;
}

.description.light h2 {
  color: black;
}

.description h2 {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.875vw;
  line-height: 135%;
  letter-spacing: 0%;
}

.information {
  display: flex;
  flex-direction: column;
}

.informationType {
  display: flex;
  flex-direction: row;
  gap: 3.125vw;
  margin-bottom: 1.82vw;
}

.typeFirst {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 135%;
  letter-spacing: 0%;
  color: #7d7d7d;
  width: 15.625vw;
}

.typeSecond {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 135%;
  letter-spacing: 0%;
  width: 26.04vw;
}

.typeSecond.dark {
  color: white;
}

.typeSecond.light {
  color: black;
}

.mainHeaderMob {
  position: absolute;
  visibility: hidden;
}

.mainHeaderMob.dark {
  color: white;
}

.mainHeaderMob.light {
  color: black;
}

@media (max-width: 720px) {
  .main {
    align-items: normal;
  }

  .bigCard {
    flex-direction: column;
    gap: 0px;
  }

  .poster {
    flex: none !important;
    margin-left: 8.05vw;
    margin-bottom: 10vw;
    position: relative !important ;
    width: 73.05vw;
    height: 101.94vw;
  }

  .mainHeaderMob {
    position: relative;
    visibility: visible;
    font-family: Inter;
    font-weight: 600;
    font-size: 7vw;
    line-height: 1.2;
    letter-spacing: 0%;
    color: white;
    margin-left: 8.33vw;
    margin-top: 10vw;
    word-wrap: break-word;
    hyphens: auto;
    overflow-wrap: break-word;
  }

  .description {
    margin-left: 8.33vw;
  }

  .description h2 {
    margin-bottom: 12.5vw;
    font-family: Inter;
    font-weight: 600;
    font-size: 7.77vw;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .description h1 {
    visibility: hidden;
    position: absolute;
  }

  .informationType {
    flex-direction: column;
    margin-bottom: 5.55vw;
  }

  .typeFirst {
    font-family: Inter;
    font-weight: 500;
    font-size: 3vw;
    line-height: 135%;
    letter-spacing: 0%;
    width: 90vw;
  }

  .typeSecond {
    font-family: Inter;
    font-weight: 600;
    font-size: 3vw;
    line-height: 135%;
    letter-spacing: 0%;
    width: 90vw;
  }

  .reviews h1 {
    margin-left: 8.05vw;
    font-family: Inter;
    font-weight: 600;
    font-size: 7.77vw;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .reviewsContainer {
    gap: 10vw;
    flex-direction: column;
    margin-bottom: 25.83vw;
  }

  .reviewBox {
    background-color: white;
    margin: 0;
    margin-left: 8.05vw;
    width: 90vw;
    height: 100%;
  }

  .reviewBox h2 {
    margin-left: 6.66vw;
    font-family: Inter;
    font-weight: 600;
    font-size: 6.11vw;
    line-height: 135%;
    letter-spacing: 0%;
    color: black;
  }

  .reviewBox p {
    margin-left: 6.66vw;
    font-family: Inter;
    font-weight: 400;
    font-size: 5vw;
    line-height: 135%;
    letter-spacing: 0%;
    color: black;
  }

  .whiteStarContainer {
    position: absolute;
    visibility: hidden;
  }

  .blackStarContainer {
    position: relative;
    visibility: visible;
    display: flex;
    flex-direction: row;
    margin-left: 6.66vw;
  }

  .starWrapper {
    width: 6.66vw;
    height: 6.66vw;
  }

  .arrow {
    visibility: hidden;
    position: absolute;
  }
}
