.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 18.64vw;
  height: 26.56vw;
  background-color: white;
  flex: 0 0 calc(33.33% - 5.2vw);
  box-sizing: border-box;
}

.rating {
  position: absolute;
  background-color: #3bb33b;
  width: 2.81vw;
  height: 1.61vw;
  top: 0.72vw;
  left: 0.72vw;
  border-radius: 0.14vw;
  padding-top: 0.15vw;
  padding-right: 0.57vw;
  padding-bottom: 0.15vw;
  padding-left:  0.57vw;
  gap: 0.26vw;
  text-align: center;
  z-index: 1;
}

.rating p {
  margin-top: 0.31vw;
  font-family: Inter;
  font-weight: 700;
  font-size: 1.09vw;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
}

.poster {
  height: 70%;
  width: 100%;
  position: relative;
}

.poster::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background-image: linear-gradient(to top, #000, transparent);
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.posterImage {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.title {
  display: flex;
  align-items: center;
  width: 18.64vw;
  height: 11.56vw;
  background-color: black;
  z-index: 1;
}

.title p {
  color: white;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.56vw;
  margin-left: 0.98vw;
  line-height: 1.5625vw;
}

@media (max-width: 768px) {
  .card {
    width: 72.77vw;
    height: 101.94vw;
  }
  .title {
    width: 100%;
    height: 75.27vw;
  }
  .title p {
    width: 90%;
    font-family: Inter;
    font-weight: 600;
    font-size: 7.2vw;
    line-height: 100%;
    letter-spacing: 0%;
    margin-left: 3.88vw;
  }
  .rating {
    width: 10.27vw;
    height: 6.38vw;
    top: 2.77vw;
    left: 2.77vw;
    border-radius: 0.55vw;
    padding-top: 0.55vw;
    padding-right: 2.22vw;
    padding-bottom: 0.55vw;
    padding-left: 2.22vw;
    gap: 1.11vw;
  }
  .rating p {
    margin-top: 1.2vw;
    font-family: Inter;
    font-weight: 700;
    font-size: 4.16vw;
    line-height: 100%;
    letter-spacing: 0%;
  }
}
