.under {
  height: 32.29vw;
  background: url("/src/assets/img/under.png") no-repeat 0 60%;
  background-size: cover;
}

.underOverlay {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.underOverlay h1 {
  margin: 7.86vw 0px 0px 16.82vw;
  width: 36.4vw;
  font-family: Inter;
  font-weight: 600;
  font-size: 2.5vw;
  line-height: 135%;
  color: white;
}

.underOverlay p {
  margin: 1.51vw 0px 0px 16.82vw;
  width: 47.91vw;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25vw;
  line-height: 135%;
  color: white;
}

@media (max-width: 720px) {
  .under {
    height: 162.22vw;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .underOverlay h1 {
    margin: 0;
    margin-left: 8.05vw;
    margin-right: 26.11vw;
    height: 25.83vw;
    width: 65.83vw;
    font-family: Inter;
    font-weight: 600;
    font-size: 7.22vw;
    line-height: 120%;
    letter-spacing: 0%;
  }
  
  .underOverlay p {
    margin: 0;
    margin-top: 20px;
    margin-left: 8.05vw;
    margin-right: 10.27vw;
    width: 90%;
    font-family: Inter;
    font-weight: 500;
    font-size: 5vw;
    line-height: 135%;
    letter-spacing: 0%;
  }
}
