.galleryContainer {
  position: relative;
  width: 66.66vw;
   overflow: visible;
}
.arrowLeft {
  position: absolute;
  top: 50%;
  left: -3.64vw; 
  transform: translateY(-50%);
  width: 1.04vw;
  height: 2.08vw;
  cursor: pointer;
  z-index: 10;
  transition:  0.2s;
}
.arrowLeft:hover {
  opacity: 0.5;
}

.arrowRight {
  position: absolute;
  top: 50%;
  right: -3.64vw; 
  transform: translateY(-50%);
  width: 1.04vw;
  height: 2.08vw;
  cursor: pointer;
  z-index: 10;
  transition:  0.2s;
}
.arrowRight:hover {
  opacity: 0.5;
}
.arrowLeft.dark{
  content: url("/src/assets/svg/left-arrow.svg");
}
.arrowRight.dark{
  content: url("/src/assets/svg/right-arrow.svg");
}
.arrowLeft.light{
  content: url("/src/assets/svg/left-arrow-black.svg");
}
.arrowRight.light{
  content: url("/src/assets/svg/right-arrow-black.svg");
}
.galleryCarousel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 100%;
}
.galleryPic {

  display: flex;
  gap: 1.04vw;
  overflow: hidden;
}
.galleryImg {
  width: 32.65vw;
  height: 24.79vw;
  object-fit: cover;
}
