.noVideoContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 66.66vw;
  margin: 0 auto;
}

.videoContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 66.66vw;
  height: 37.5vw;
  margin: 0 auto;
}

.trailerHeader h1 {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.875vw;
  line-height: 135%;
  letter-spacing: 0%;
  margin-bottom: 3.59vw;
}

.trailerHeader.dark h1 {
  color: white;
}

.trailerHeader.light h1 {
  color: black;
}

.trailerHeader p {
  font-family: Inter;
  font-weight: 400;
  font-size: 1.875vw;
  line-height: 135%;
  letter-spacing: 0%;
}

.trailerHeader.dark p {
  color: white;
}

.trailerHeader.light p {
  color: black;
}

.video {
  width: 100%;
  height: 37.5vw;
  display: block;
}

.slider {
  width: 90%;
  margin: 0 0.52vw;
  cursor: pointer;
}

.volumeSlider {
  width: 10%;
  margin: 0 0.52vw;
  cursor: pointer;
}

@media (max-width: 720px) {
  .trailerHeader {
    width: 85vw;
    margin: 0;
    margin-top: 21.38vw;
    margin-bottom: 10vw;
  }

  .trailerHeader h1 {
    margin: 0;
    font-family: Inter;
    font-weight: 600;
    font-size: 7.77vw;
    line-height: 120%;
    letter-spacing: 0%;
  }

  .trailerHeader p {
    font-family: Inter;
    font-weight: 400;
    font-size: 5vw;
    line-height: 135%;
    letter-spacing: 0%;
  }

  .videoContainer {
    align-items: center;
    width: 80vw;
    height: 60vh;
  }

  .noVideoContainer {
    align-items: center;
  }

  .video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}