.main{
  position: relative;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.btn{
  position: relative;
}
.carouselContainer {
  position: relative;
  margin:0 auto;
  margin-top: 103px;
  margin-bottom: 103px;
  width: 70%;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Скрываем карточки, выходящие за пределы видимой области */
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Анимация при переключении */
  gap: 100px; /* Расстояние между карточками */
}

.arrow {
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  /* background-color: rgba(0, 0, 0, 0.5); */
  /* color: #fff; */
  /* border: none; */
  /* border-radius: 50%; */
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition:  0.2s;
}


.arrow.left {
  position: absolute;
  top: 50%;
   left: 100px;
}
.arrow.left.dark{
  content: url("/src/assets/svg/left-arrow.svg");
}
.arrow.right.dark{
  content: url("/src/assets/svg/right-arrow.svg");
}
.arrow.left.light{
  content: url("/src/assets/svg/left-arrow-black.svg");
}
.arrow.right.light{
  content: url("/src/assets/svg/right-arrow-black.svg");
}
.arrow.right {
  position: absolute;
  top: 50%;
   right: 100px;
}
.arrow:hover {
  opacity: 0.5;
}
@media (max-width: 720px) {
  .carouselContainer {
    height: 534px;
  }
}