.main {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn {
  position: relative;
}

.carouselContainer {
  position: relative;
  margin: 0 auto;
  margin-top: 5.36vw;
  margin-bottom: 5.36vw;
  width: 70%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
  gap: 5.2vw;
}

.arrow {
  width: 2.08vw;
  height: 2.08vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
  transition: 0.2s;
}

.arrow.left {
  position: absolute;
  top: 50%;
  left: 5.2vw;
}

.arrow.right {
  position: absolute;
  top: 50%;
  right: 5.2vw;
}

.arrow:hover {
  opacity: 0.5;
}

.arrow.left.dark {
  content: url("/src/assets/svg/left-arrow.svg");
}

.arrow.right.dark {
  content: url("/src/assets/svg/right-arrow.svg");
}

.arrow.left.light {
  content: url("/src/assets/svg/left-arrow-black.svg");
}

.arrow.right.light {
  content: url("/src/assets/svg/right-arrow-black.svg");
}

@media (max-width: 768px) {
  .main {
    height: 148.33vw;
  }
  
  .arrow {
    width: 3.88vw;
    height: 7.22vw;
  }
}
