@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  background-color: purple; 
  /* xd */
}
.nav-link-active{
  color: white;
  text-decoration: none;

  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
}

